html,
body,
header,
.carousel {
  height: 100%;
}

html
{
	scroll-behavior: smooth;
}

@media (min-width: 800px) and (max-width: 850px)
{
	.navbar:not(.top-nav-collapse)
	{
		background: #1C2331!important;
	}
}

@media only screen and (max-width:768px)
{
	.navbar
	{
		background-color:#1C2331
	}
}

.navbar
{
	background-color:rgba(0,0,0,.2)
}

.navbar .nav-item .nav-link.active
{
	background-color: rgba(255,255,255,0.1);
}

.page-footer, .top-nav-collapse
{
	background-color:#1C2331
}

.header-background
{
	background-image: url(img/jumbotron.jpg);
	background-position: center;
}

.avatar
{
	border: 5px solid #fff;
	max-width: 240px;
}

.horizontal-rule
{
	border: 3px solid #fff;
	max-width: 250px;
}

.separator
{
	border: 3px solid #000;
	max-width: 250px;
}

.location
{
	cursor: auto;
}

.card .header
{
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
}

.status
{
	display: none;
}

.status--waiting
{
	display: inline;
}

.status .spinner-border
{
	max-height: 15px;
	max-width: 15px;
}

.success
{
	display: none;
}

.success--shown
{
	display: block;
}

.error
{
	display: none;
}

.error--shown
{
	display: block;
}
